<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ypkj.sys.dao.mapper.SysRoleOrgMapper" >
  <resultMap id="BaseResultMap" type="com.ypkj.sys.dao.entity.SysRoleOrgKey" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <id column="org_id" property="orgId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.ypkj.sys.dao.entity.SysRoleOrgKey" >
    delete from sys_role_org
    where role_id = #{roleId,jdbcType=INTEGER}
      and org_id = #{orgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ypkj.sys.dao.entity.SysRoleOrgKey" >
    insert into sys_role_org (role_id, org_id)
    values (#{roleId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ypkj.sys.dao.entity.SysRoleOrgKey" >
    insert into sys_role_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>