<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ypkj.sso.dao.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.ypkj.sso.dao.entity.SysUser" >
    <id column="user_id" property="id" jdbcType="INTEGER" />
    <result column="user_account" property="account" jdbcType="VARCHAR" />
    <result column="user_password" property="password" jdbcType="VARCHAR" />
    <result column="user_name" property="name" jdbcType="VARCHAR" />
    <result column="user_org_id" property="orgId" jdbcType="INTEGER" />
    <result column="user_telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="user_mobile_tel" property="mobileTel" jdbcType="VARCHAR" />
    <result column="user_mail" property="mail" jdbcType="VARCHAR" />
    <result column="user_state" property="state" jdbcType="INTEGER" />
    <result column="user_remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="user_create_id" property="createId" jdbcType="INTEGER" />
    <result column="user_create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="user_update_id" property="updateId" jdbcType="INTEGER" />
    <result column="user_update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, password, name, org_id, telephone, mobile_tel, mail, state, remarks, 
    create_id, create_date, update_id, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ypkj.sso.dao.entity.SysUser" >
    insert into sys_user (id, account, password, 
      name, org_id, telephone, 
      mobile_tel, mail, state, 
      remarks, create_id, create_date, 
      update_id, update_date)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{orgId,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, 
      #{mobileTel,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{createId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ypkj.sso.dao.entity.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="mobileTel != null" >
        mobile_tel,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="mobileTel != null" >
        #{mobileTel,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ypkj.sso.dao.entity.SysUser" >
    update sys_user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="mobileTel != null" >
        mobile_tel = #{mobileTel,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ypkj.sso.dao.entity.SysUser" >
    update sys_user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      mobile_tel = #{mobileTel,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <resultMap id="userauthoirtymap" type="com.ypkj.sso.dao.entity.SysUser" extends="BaseResultMap">
    <collection property="sysAuthoritys" ofType="com.ypkj.sso.dao.entity.SysAuthority">  
            <id column="authority_id" property="id" jdbcType="INTEGER" />
		    <result column="authority_name" property="name" jdbcType="VARCHAR" />
		    <result column="authority_menu_name" property="menuName" jdbcType="VARCHAR" />
		    <result column="authority_code" property="code" jdbcType="VARCHAR" />
		    <result column="authority_type" property="type" jdbcType="INTEGER" />
		    <result column="authority_parent_id" property="parentId" jdbcType="INTEGER" />
		    <result column="authority_url" property="url" jdbcType="VARCHAR" />
		    <result column="authority_order_num" property="orderNum" jdbcType="INTEGER" />
		    <result column="authority_create_id" property="createId" jdbcType="INTEGER" />
		    <result column="authority_create_date" property="createDate" jdbcType="TIMESTAMP" />
		    <result column="authority_update_id" property="updateId" jdbcType="INTEGER" />
		    <result column="authority_update_date" property="updateDate" jdbcType="TIMESTAMP" />  
        </collection> 
  </resultMap>
  
  <select id="selectUserAuthoirty" resultMap="userauthoirtymap"
		parameterType="string">
		SELECT
			u.id AS user_id,
			u.account AS user_account,
			u.`PASSWORD` AS user_PASSWORD,
			u.`NAME` AS user_NAME,
			u.org_id AS user_org_id,
			u.telephone AS user_telephone,
			u.mobile_tel AS user_mobile_tel,
			u.mail AS user_mail,
			u.state AS user_state,
			u.remarks AS user_remarks,
			u.create_id AS user_create_id,
			u.create_date AS user_create_date,
			u.update_id AS user_update_id,
			u.update_date AS user_update_date,
			a.id AS authority_id,
			a.`NAME` AS authority_name,
			a.menu_name AS authority_menu_name,
			a.`code` AS authority_code,
			a.type AS authority_typetype,
			a.parent_id AS authority_parent_id,
			a.url AS authority_url,
			a.order_num AS authority_order_num,
			a.create_id AS authority_create_id,
			a.create_date AS authority_create_date,
			a.update_id AS authority_update_id,
			a.update_date AS authority_update_date
		FROM
			sys_user u
		INNER JOIN sys_user_role ur ON u.id = ur.user_id
		INNER JOIN sys_role r ON ur.role_id = u.id
		INNER JOIN sys_role_authority ra ON r.id = ra.role_id
		INNER JOIN sys_authority a ON ra.authority_id = a.id
		WHERE
			u.account = #{account}
	</select>
</mapper>